<ion-content  class="login">
    <img src="assets/slide03.gif" />
    <ion-card-header>
        <ion-item>
            <ion-label position="floating">请输入账号</ion-label>
            <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">请输入密码</ion-label>
            <ion-input [(ngModel)]="userpassword" type="password"></ion-input>
        </ion-item>
    </ion-card-header>
    <ion-card-content class="loginbt">
       <ion-button (click)="btserves()" color="primary">登录</ion-button>
        <!-- 注册 -->
        <p [routerLink]="[ '/register' ]">立即注册</p>
    </ion-card-content>
    <!-- 提示组件 -->
    <app-alertmode #tost [affirm]= "affirm" ></app-alertmode>
    <!-- <ion-grid>
        <ion-row>
            <ion-col>11111</ion-col>
            <ion-col>11111</ion-col>
        </ion-row>
    </ion-grid> -->
    <!-- <ion-button [routerLink]="[ '/app/tabs/tab1' ]" >跳转</ion-button> -->
</ion-content>

<!-- 如果是引用服务，首先创建 然后直接在 login.page.ts里面引用
    1.import { BesurlService } from '../services/besurl.service';
    2.public besurl:BesurlService,
    3.this.besurl... 调用方法和数据
-->
<!-- 如果是引用组件，则需要在login.module 里面引用 
    一.首页把组件模块暴露出来，让其他组件可以引用
        1.import { AlertmodeComponent } from '../alertmode/alertmode.component';
        2. declarations: [AlertmodeComponent],
        3. exports:[AlertmodeComponent] 暴露模块
    二.在login.module 里面引用 alert模块
     1.import { AlertmodeModule } from '../module/alertmode/alertmode.module'
     2.imports: [
       AlertmodeModule,
       RouterModule.forChild(routes) ],
    3. <app-alertmode #tost [affirm]= "affirm" ></app-alertmode>
 -->
<!-- 
// VUE
// npm install -g @vue/cli
// vue --version
// vue create hello-world
// vue ui
// vue add router
// vue add vuex
// vue serve

// Angular
// npm install -g @angular/cli
// ng new my-app
// cd my-app
// install
// ng g serve
// ng g --help 

// React
// npx create-react-app my-app
// cd my-app
// install
// npm start

// Ionic
//  ionic start myApp blank 
//  ionic start myApp tabs
//  ionic start myApp sidemenu
//  cd myapp
//  install
//  ionic g --help -->

