<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
    <ion-card class="welcome-card">
       <app-sildes [list]="list" ></app-sildes>
    </ion-card>
    <!-- 商品列表 -->
    <ion-grid>
        <ion-row>
          <ion-col   size="6" 
                    *ngFor="let item of homelist;"
                    [routerLink]="[ '/details',item.id]"
                    >
            <img src="assets/slide03.gif"/>
            <h6  ng-cloak>{{item.mealName}}</h6>
            <p  ng-cloak>{{item.mealContent}}</p>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>