<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <!-- <video width="100%" muted autoplay="autoplay" height="240" controls> -->
            <!-- <source src="http://www.17sucai.com/preview/119710/2014-10-22/%E6%96%B0%E5%BB%BA%E6%96%87%E4%BB%B6%E5%A4%B9/BigBuckBunny_640x360.mp4" type="video/mp4"> -->
              <!-- <source src="assets/posui.mp4" type="video/mp4"> -->
            <!-- 您的浏览器不支持 HTML5 video 标签。 -->
        <!-- </video> -->
        <video width="100%" autoplay="false" poster="http://avenecdn.witpos.cn/93dccd85cff9123bbc3644ff86493305.png" autoplay="false"  height="240" controls> 
         <source src="http://www.17sucai.com/preview/119710/2014-10-22/%E6%96%B0%E5%BB%BA%E6%96%87%E4%BB%B6%E5%A4%B9/BigBuckBunny_640x360.mp4" type="video/mp4">
        </video>
        <!--  -->
        <app-sildes [list]="list"></app-sildes>
        <!-- 商品列表 -->
        <ion-grid>
          <h5>{{detaslist.mealName}}</h5>
          <h6>{{detaslist.mealContent}}</h6>
          <ion-row>
            <ion-col size="6">
                数量：{{detaslist.mealNum}}
            </ion-col>
            <ion-col size="6">
                价格：{{detaslist.mealPrice}}
              </ion-col>
          </ion-row>
        </ion-grid>
    </ion-content>
</ion-content>
