<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>注册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="register">
    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col size="8"  >
                <ion-item>
                    <ion-label position="floating">请输入账号</ion-label>
                    <ion-input [(ngModel)]="username"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="4"  >
              <ion-button color="primary">获取验证码</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">请输入账号</ion-label>
                    <ion-input [(ngModel)]="username"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">请输入密码</ion-label>
                    <ion-input [(ngModel)]="userpassword" type="password"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">请输入密码</ion-label>
                    <ion-input [(ngModel)]="userpassword" type="password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-card-content>

    <ion-card-content class="loginbt">
       <ion-button (click)="btserves()" color="primary">注册</ion-button>
        <!-- 注册 -->
        <p [routerLink]="[ '' ]">返回登录</p>
    </ion-card-content>
      
</ion-content>
