.register ion-item{
    --padding-start: 0px !important;
    ion-label{
        color: #cccccc;
    }
}
.loginbt ion-button{
    width: 100%;
}
.register img{
    height: 280px;
    background-size: 100%;
}
.loginbt p{
    text-align: right;
    margin-top: 5%;
}