<!-- 头部组件 -->
<ion-header translucent>
    <ion-toolbar>
        <ion-back-button
            [text]="headtext"
            [icon]="buttonIcon">
            </ion-back-button>
        <ion-title>{{headtitle}}</ion-title>
    </ion-toolbar>
</ion-header>
<!-- 内容区域 -->
<ion-content  class="register">
    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col size="8"  >
                <ion-item>
                    <ion-label position="floating">请输入账号</ion-label>
                    <ion-input [(ngModel)]="username"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="4"  >
              <ion-button color="primary">获取验证码</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">请输入密码</ion-label>
                    <ion-input [(ngModel)]="userpassword" type="password"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">请确认密码</ion-label>
                    <ion-input [(ngModel)]="userpassword" type="password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <!-- 注册 -->
        <ion-button class="regiscls" (click)="register()" color="primary">注册</ion-button>
    </ion-grid>
    </ion-card-content>
    <!-- 提示 -->
    <app-alertmode #reginit ></app-alertmode>
    <!-- <ion-card-content class="loginbt">
       <ion-button (click)="btserves()" color="primary">注册</ion-button>
        <p [routerLink]="[ '' ]">返回登录</p>
    </ion-card-content> -->
      
</ion-content>
